﻿/* font-family: 'Ubuntu', sans-serif; */

*{margin:0;padding:0;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: scroll;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

table{border-collapse:collapse;border-spacing:0; vertical-align: middle;}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
}

blockquote,
q {
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	quotes: none;
}

a:focus {
	outline: 0;
}

a:hover,
a:active {
	outline: 0;
}

a img {
	border: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

ins{text-decoration:none;}
del{text-decoration:line-through;}

sup {font-size:.7em;vertical-align: top;}
sub {font-size:.7em;vertical-align: bottom;}
small {font-size: 10px;}
strong,dfn,dl dt,th{font-weight:600}

h1, h2, h3, h4, h5, h6{ font-weight: normal;}

select,input,textarea{
padding:0;
margin:0;
outline:0;
font-size:100%;
vertical-align:baseline;
}

button, input[type=submit]{padding:0; margin:0; outline:0; font-size:100%; vertical-align:baseline; -webkit-appearance: none;} 

a{text-decoration: underline; color:#252525;}
a:hover{text-decoration: none; color: #252525;}
body{
font: 16px/1.3em 'Ubuntu', sans-serif;
color: #252525;
background: #f5f5f5;
}

#container{
width: 800px;
margin: 0 auto;
padding: 30px 0 0 0;	
}

/* forms */
input[type=text],input[type=email],input[type=password]{
border: 1px solid #ecf4fb;
background: #ecf4fb;
border-radius: 3px;
height: 38px;
width: 300px;
padding: 0 15px;
-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
			transition: all 0.3s linear; 
box-sizing: border-box;
    -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;
color: #7c8287;
font: 16px/38px 'Ubuntu', sans-serif;	
}
input[type=text].red{
border: 1px solid #ff0002;
}
input[type=text].orange{
border: 1px solid #ff6c00;	
}
input[type=text].green{
border: 1px solid #20a706;		
}
input[type=text]:disabled,input[type=email]:disabled,input[type=password]:disabled{
border: 1px solid #858c97;
background: #858c97;
color: #fff;
}

textarea{
border: 1px solid #ecf4fb;
background: #ecf4fb;
border-radius: 3px;
width: 100%;
max-width: 100%;
min-width: 100%;
height: 100px;
min-height: 100px;
padding: 15px;
-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
			transition: all 0.3s linear; 
box-sizing: border-box;
    -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;
color: #7c8287;
font: 13px 'Ubuntu', sans-serif;	
}

select{
border: 1px solid #ecf4fb;
background: #ecf4fb;
border-radius: 3px;
height: 38px;
width: 300px;
padding: 0 15px; 
box-sizing: border-box;
    -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;
color: #7c8287;
font: 13px 'Ubuntu', sans-serif;
}

input[type=submit]{
border: none;
background: #2acefe;
background-image: -ms-linear-gradient(left, #30ABFF 0%, #2AD0FE 100%);
background-image: -moz-linear-gradient(left, #30ABFF 0%, #2AD0FE 100%);
background-image: -o-linear-gradient(left, #30ABFF 0%, #2AD0FE 100%);
background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #30ABFF), color-stop(100, #2AD0FE));
background-image: -webkit-linear-gradient(left, #30ABFF 0%, #2AD0FE 100%);
background-image: linear-gradient(to right, #30ABFF 0%, #2AD0FE 100%);
border-radius: 3px;
height: 50px;
padding: 0 35px;
-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
		-o-transition: all 0.3s linear;
			transition: all 0.3s linear; 
box-sizing: border-box;
    -moz-box-sizing: border-box; 
		-webkit-box-sizing: border-box;
color: #fff;
font: 600 18px/38px 'Ubuntu', sans-serif;	
cursor: pointer;
}
	input[type=submit]:disabled{
	background: #ccc;
	border: 1px solid #ccc;
	cursor: default;
	} 		
/* end forms */	

.wrap{
border-radius: 6px;
box-shadow: 0 0 15px #dde3e5;
background: #fff;	
}

.header{
background: #2acffe url(images/head.png) no-repeat;
height: 65px;
text-align: center;
color: #ffffff;
font: 24px/65px 'Ubuntu', sans-serif;
border-radius: 6px 6px 0 0;
}

.content{
padding: 50px 30px 30px;
}

	a.prev, a.next{
	float: left;
	padding: 10px 30px;
	color: #252525;
	font: 14px 'Ubuntu', sans-serif;
	text-decoration: none;
	border-radius: 3px;
	border: 1px solid #30aaff;
	background: #fff;
	-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
			-o-transition: all 0.3s linear;
				transition: all 0.3s linear;	
	}
		a.next{
		float: right;
		}

	a.lang_link{
	display: block;
	width: 250px;
	height: 50px;
	margin: 0 auto 30px auto;
	background: none;
	border-radius: 3px;
	border: 1px solid #30aaff;
	color: #252525;
	text-align: center;
	text-decoration: none;
	font: 18px/50px 'Ubuntu', sans-serif;
	-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s linear;
			-o-transition: all 0.3s linear;
				transition: all 0.3s linear; 	
	}
		a.lang_link:hover{
		color: #fff;
		background: #2ad1fe;
		border: 1px solid #2ad1fe;
		}

	table{
	width: 100%;
	margin: 0 0 20px 0;
	}
		table th{
		width: 150px;
		padding: 10px 10px;		
		font: 600 16px 'Ubuntu', sans-serif;	
		}
		table td{	
		padding: 10px 10px;		
		font: 16px 'Ubuntu', sans-serif;	
		}

.perfectly{
width: 200px;
height: 200px;
margin: 0 auto 10px;
background: url(images/ura.png) no-repeat center center;
}
.perfectly_text{
text-align: center;
font: 24px 'Ubuntu';
}
.perfectly_delete{
padding: 30px 0 0 0;
text-align: center;
font: 24px 'Ubuntu';
}
		
/* classed */
.error{
background: #ef7778;
padding: 20px 30px;
border-radius: 6px;	
color: #fff;
}
.bred{ color: #ff0000; font-weight: 600; }
.clear{clear:both;} 